*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
/TestClient/
Version.cs
Version.h
Version.cpp
bin
obj
.vscode/
/packages
*.mdf
*.ldf
.vs